.greendiv {
  background-color: rgb(26, 128, 80);
}
.graydiv {
  background-color: rgb(14, 14, 14);
  border: 1px solid rgb(14, 14, 14);
  border-radius: 2%;
}
.darknav {
  background-color: black;
}
.h1home {
  color: white;
  font-size: 40pt;
}
.cardbtn1 {
  color: rgb(87, 87, 87);
}
.cardbtn {
  background-color: rgb(54, 54, 54);
  color: rgb(207, 90, 90);
}
.card1{
  display: flex;
  overflow-x: scroll;
}
.card {
  background-color: rgb(87, 87, 87);
  border-radius: 2%;
  
 
}
.card-img-bottom {
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  border-bottom: 3px solid rgb(207, 90, 90);
}
.cardwords {
  color: white;
}
.container1 {
  background-color: black;
}

.planets {
  display: flex;
  border: solid 1px rgb(14, 14, 14);

}
.characters {
  display: flex;
  border: solid 1px rgb(14, 14, 14);
  
}

/* .border1{
border: solid 1px rgb(31, 31, 31);
}
.border2{
border: solid 1px rgb(31, 31, 31); */
/* } */
